body {
    font-family: Lato, sans-serif;
}

h2 {
    margin-bottom: 0.5em !important;
}

#main {
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
}

.search-object div {
    width: 25%;
}

#config .key-value {
    margin-bottom: 1em;
}

#config input,
#config textarea {
    font-family: monospace;
}
