body {
    font-family: Lato;
}

a,
a:visited,
a:hover,
a:active {
    color: blue;
    text-decoration: none;
}

#main {
    max-width: 948px;
    margin-left: auto;
    margin-right: auto;
}

.search-object div {
    width: 25%;
}

#config .key-value {
    margin-bottom: 1em;
}

#config input,
#config textarea {
    font-family: monospace;
}

#nav-bar .active {
    font-weight: bold;
}

h2,
h3 {
    margin-bottom: 0.5em !important;
}
